In [1]:
from datetime import datetime
import matplotlib.pyplot as plt 
from meteostat import Point, Daily, Stations, Hourly

In [2]:
# Get the nearby weather stations
stations = Stations()
stations = stations.nearby(13.7667, 109.2167)
stations = stations.fetch(1)

stations

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
48870,Quy Nhon,VN,BH,48870,VVQN,13.7667,109.2167,6.0,Asia/Ho_Chi_Minh,1957-01-04,2024-11-17,1957-01-04,2025-01-11,1957-01-01,2022-01-01,0.0

In [4]:
%%time

# Get weather data with wmo
start = datetime(2021, 1, 1)
end = datetime(2025, 1, 19, 23, 59)

data = Hourly('48870', start, end)
data = data.fetch()

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

CPU times: user 92 ms, sys: 22.1 ms, total: 114 ms
Wall time: 18min

In [5]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2025-01-19 19:00:00,17.2,16.2,94.0,0.0,NaN,274.0,16.2,NaN,1013.1,NaN,3.0
2025-01-19 20:00:00,16.7,15.9,95.0,0.0,NaN,269.0,15.5,NaN,1012.7,NaN,3.0
2025-01-19 21:00:00,16.3,15.7,96.0,0.0,NaN,271.0,15.5,NaN,1012.5,NaN,3.0
2025-01-19 22:00:00,16.0,15.4,96.0,0.0,NaN,272.0,15.5,NaN,1012.8,NaN,3.0
2025-01-19 23:00:00,15.5,15.0,97.0,0.0,NaN,268.0,14.8,NaN,1013.4,NaN,3.0

In [27]:
data.to_csv('data/weatherQN_2021_2025_not_fixed.csv')

In [1]:
import pandas as pd
df = pd.read_csv('data/weatherQN_2021_2025_not_fixed.csv')

In [2]:
df.head(20)

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
5,2021-01-01 15:00:00,21.0,16.6,76.0,NaN,NaN,340.0,10.8,NaN,1017.7,NaN,NaN
6,2021-01-01 17:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-01 18:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-01 19:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-01 20:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN
10,2021-01-01 21:00:00,19.5,17.6,89.0,0.2,NaN,320.0,10.8,NaN,1015.7,NaN,NaN
11,2021-01-01 22:00:00,19.7,17.5,87.0,0.1,NaN,340.0,17.3,NaN,1016.3,NaN,NaN
12,2021-01-01 23:00:00,19.8,17.8,88.0,0.1,NaN,339.0,17.6,NaN,1016.7,NaN,NaN
13,2021-01-02 00:00:00,20.2,18.7,91.0,0.2,NaN,320.0,10.8,NaN,1017.1,NaN,NaN
14,2021-01-02 01:00:00,20.2,18.3,89.0,0.2,NaN,343.0,18.4,NaN,1018.1,NaN,NaN
15,2021-01-02 02:00:00,20.2,18.3,89.0,0.2,NaN,347.0,18.7,NaN,1018.4,NaN,NaN
16,2021-01-02 03:00:00,21.5,18.3,82.0,0.2,NaN,340.0,10.8,NaN,1017.4,NaN,NaN
17,2021-01-02 04:00:00,21.4,19.0,86.0,0.2,NaN,354.0,21.6,NaN,1017.4,NaN,NaN
18,2021-01-02 05:00:00,22.0,18.0,78.0,0.1,NaN,3.0,28.4,NaN,1016.4,NaN,NaN
19,2021-01-02 06:00:00,22.6,18.2,76.0,0.0,NaN,340.0,10.8,NaN,1015.1,NaN,NaN

data is delay 7 hours

In [3]:
df['time'] = pd.to_datetime(df['time'])

df['time'] = df['time'] + pd.Timedelta(hours=7)

In [4]:
df.tail(24)

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
35280,2025-01-19 07:00:00,18.2,16.2,88.0,0.0,NaN,289.0,24.8,NaN,1014.8,NaN,3.0
35281,2025-01-19 08:00:00,20.8,17.6,82.0,0.0,NaN,314.0,22.3,NaN,1016.2,NaN,3.0
35282,2025-01-19 09:00:00,22.6,17.7,74.0,0.0,NaN,350.0,32.0,NaN,1016.8,NaN,3.0
35283,2025-01-19 10:00:00,23.4,16.2,64.0,0.0,NaN,356.0,32.0,NaN,1016.7,NaN,2.0
35284,2025-01-19 11:00:00,24.3,15.8,59.0,0.0,NaN,8.0,31.0,NaN,1016.2,NaN,1.0
35285,2025-01-19 12:00:00,24.5,15.7,58.0,0.0,NaN,12.0,32.0,NaN,1015.2,NaN,2.0
35286,2025-01-19 13:00:00,24.3,15.8,59.0,0.0,NaN,14.0,33.1,NaN,1014.1,NaN,3.0
35287,2025-01-19 14:00:00,23.9,15.7,60.0,0.0,NaN,13.0,32.4,NaN,1013.2,NaN,3.0
35288,2025-01-19 15:00:00,23.6,15.4,60.0,0.0,NaN,13.0,32.4,NaN,1012.6,NaN,3.0
35289,2025-01-19 16:00:00,22.9,15.7,64.0,0.0,NaN,10.0,32.0,NaN,1012.6,NaN,3.0
35290,2025-01-19 17:00:00,22.1,15.9,68.0,0.0,NaN,5.0,32.0,NaN,1012.8,NaN,2.0
35291,2025-01-19 18:00:00,21.2,16.4,74.0,0.0,NaN,4.0,29.9,NaN,1012.8,NaN,2.0
35292,2025-01-19 19:00:00,20.8,17.0,79.0,0.0,NaN,2.0,29.5,NaN,1013.3,NaN,3.0
35293,2025-01-19 20:00:00,20.4,17.2,82.0,0.0,NaN,359.0,27.7,NaN,1013.7,NaN,2.0
35294,2025-01-19 21:00:00,20.0,17.4,85.0,0.0,NaN,353.0,25.6,NaN,1014.2,NaN,2.0
35295,2025-01-19 22:00:00,19.7,17.1,85.0,0.0,NaN,339.0,24.5,NaN,1014.6,NaN,3.0
35296,2025-01-19 23:00:00,19.4,17.0,86.0,0.0,NaN,323.0,23.4,NaN,1014.7,NaN,3.0
35297,2025-01-20 00:00:00,18.5,16.7,89.0,0.0,NaN,308.0,20.9,NaN,1014.3,NaN,3.0
35298,2025-01-20 01:00:00,17.8,16.3,91.0,0.0,NaN,286.0,18.0,NaN,1013.8,NaN,3.0
35299,2025-01-20 02:00:00,17.2,16.2,94.0,0.0,NaN,274.0,16.2,NaN,1013.1,NaN,3.0
35300,2025-01-20 03:00:00,16.7,15.9,95.0,0.0,NaN,269.0,15.5,NaN,1012.7,NaN,3.0
35301,2025-01-20 04:00:00,16.3,15.7,96.0,0.0,NaN,271.0,15.5,NaN,1012.5,NaN,3.0
35302,2025-01-20 05:00:00,16.0,15.4,96.0,0.0,NaN,272.0,15.5,NaN,1012.8,NaN,3.0
35303,2025-01-20 06:00:00,15.5,15.0,97.0,0.0,NaN,268.0,14.8,NaN,1013.4,NaN,3.0

In [5]:
df.to_csv('data/weatherQN_2021_2025.csv', index=False)