In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'http://formula1.com/en/results/2024/drivers'
response = requests.get(url)

In [50]:
if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table', class_='f1-table f1-table-with-data w-full')
    # Extract the rows of the table
    rows = table.find_all('tr')
    
    for row_id, row in enumerate(rows):
        columns = row.find_all('td')
        if columns:
            # print(f'row={row_id}, {columns}')
            position = columns[0].text.strip()
            driver_name = columns[1].text.strip().split()
            driver_name = ''.join(driver_name[:-1])

            nationality = columns[2].text.strip()
            car = columns[3].text.strip()
            pts = columns[4].text.strip()
            print(f'Position: {position}\nDriver name: {driver_name}\nNationality: {nationality}\nCar: {car}\nPoint: {pts}\n')

Position: 1
Driver name: Max
Nationality: NED
Car: Red Bull Racing Honda RBPT
Point: 437

Position: 2
Driver name: Lando
Nationality: GBR
Car: McLaren Mercedes
Point: 374

Position: 3
Driver name: Charles
Nationality: MON
Car: Ferrari
Point: 356

Position: 4
Driver name: Oscar
Nationality: AUS
Car: McLaren Mercedes
Point: 292

Position: 5
Driver name: Carlos
Nationality: ESP
Car: Ferrari
Point: 290

Position: 6
Driver name: George
Nationality: GBR
Car: Mercedes
Point: 245

Position: 7
Driver name: Lewis
Nationality: GBR
Car: Mercedes
Point: 223

Position: 8
Driver name: Sergio
Nationality: MEX
Car: Red Bull Racing Honda RBPT
Point: 152

Position: 9
Driver name: Fernando
Nationality: ESP
Car: Aston Martin Aramco Mercedes
Point: 70

Position: 10
Driver name: Pierre
Nationality: FRA
Car: Alpine Renault
Point: 42

Position: 11
Driver name: Nico
Nationality: GER
Car: Haas Ferrari
Point: 41

Position: 12
Driver name: Yuki
Nationality: JPN
Car: RB Honda RBPT
Point: 30

Position: 13
Driver name: Lance
Nationality: CAN
Car: Aston Martin Aramco Mercedes
Point: 24

Position: 14
Driver name: Esteban
Nationality: FRA
Car: Alpine Renault
Point: 23

Position: 15
Driver name: Kevin
Nationality: DEN
Car: Haas Ferrari
Point: 16

Position: 16
Driver name: Alexander
Nationality: THA
Car: Williams Mercedes
Point: 12

Position: 17
Driver name: Daniel
Nationality: AUS
Car: RB Honda RBPT
Point: 12

Position: 18
Driver name: Oliver
Nationality: GBR
Car: Haas Ferrari
Point: 7

Position: 19
Driver name: Franco
Nationality: ARG
Car: Williams Mercedes
Point: 5

Position: 20
Driver name: Zhou
Nationality: CHN
Car: Kick Sauber Ferrari
Point: 4

Position: 21
Driver name: Liam
Nationality: NZL
Car: RB Honda RBPT
Point: 4

Position: 22
Driver name: Valtteri
Nationality: FIN
Car: Kick Sauber Ferrari
Point: 0

Position: 23
Driver name: Logan
Nationality: USA
Car: Williams Mercedes
Point: 0

Position: 24
Driver name: Jack
Nationality: AUS
Car: Alpine Renault
Point: 0

In [60]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Stations, Hourly

In [61]:
# Set time period
start = datetime(2024, 1, 1)
end = datetime(2024, 12, 31, 23, 59)

# Get hourly data
data = Hourly('72219', start, end)
data = data.fetch()

# Print DataFrame
print(data)

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

                     temp  dwpt  rhum  prcp  ...  wpgt    pres  tsun  coco
time                                         ...
2024-01-01 00:00:00   9.4   0.0  52.0   0.0  ...   NaN  1020.4   NaN   3.0
2024-01-01 01:00:00   8.9   0.1  54.0   0.0  ...   NaN  1020.3   NaN   3.0
2024-01-01 02:00:00   7.8   0.0  58.0   0.0  ...   NaN  1020.4   NaN   2.0
2024-01-01 03:00:00   7.8   0.0  58.0   0.0  ...   NaN  1020.2   NaN   2.0
2024-01-01 04:00:00   7.8   0.0  58.0   0.0  ...   NaN  1020.1   NaN   2.0
...                   ...   ...   ...   ...  ...   ...     ...   ...   ...
2024-12-31 19:00:00  21.7   3.8  31.0   0.0  ...   NaN  1005.1   NaN   2.0
2024-12-31 20:00:00  21.7   1.4  26.0   0.0  ...   NaN  1005.6   NaN   2.0
2024-12-31 21:00:00  20.0  -0.6  25.0   0.0  ...   NaN  1006.9   NaN   2.0
2024-12-31 22:00:00  17.2   3.5  40.0   0.0  ...   NaN  1008.8   NaN   2.0
2024-12-31 23:00:00  15.0   2.8  44.0   0.0  ...   NaN  1011.0   NaN   2.0

[8784 rows x 11 columns]

In [63]:
data

                     temp  dwpt  rhum  prcp  ...  wpgt    pres  tsun  coco
time                                         ...
2024-01-01 00:00:00   9.4   0.0  52.0   0.0  ...   NaN  1020.4   NaN   3.0
2024-01-01 01:00:00   8.9   0.1  54.0   0.0  ...   NaN  1020.3   NaN   3.0
2024-01-01 02:00:00   7.8   0.0  58.0   0.0  ...   NaN  1020.4   NaN   2.0
2024-01-01 03:00:00   7.8   0.0  58.0   0.0  ...   NaN  1020.2   NaN   2.0
2024-01-01 04:00:00   7.8   0.0  58.0   0.0  ...   NaN  1020.1   NaN   2.0
...                   ...   ...   ...   ...  ...   ...     ...   ...   ...
2024-12-31 19:00:00  21.7   3.8  31.0   0.0  ...   NaN  1005.1   NaN   2.0
2024-12-31 20:00:00  21.7   1.4  26.0   0.0  ...   NaN  1005.6   NaN   2.0
2024-12-31 21:00:00  20.0  -0.6  25.0   0.0  ...   NaN  1006.9   NaN   2.0
2024-12-31 22:00:00  17.2   3.5  40.0   0.0  ...   NaN  1008.8   NaN   2.0
2024-12-31 23:00:00  15.0   2.8  44.0   0.0  ...   NaN  1011.0   NaN   2.0

[8784 rows x 11 columns]