In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'http://formula1.com/en/results/2024/drivers'
response = requests.get(url)

In [50]:
if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table', class_='f1-table f1-table-with-data w-full')
    # Extract the rows of the table
    rows = table.find_all('tr')
    
    for row_id, row in enumerate(rows):
        columns = row.find_all('td')
        if columns:
            # print(f'row={row_id}, {columns}')
            position = columns[0].text.strip()
            driver_name = columns[1].text.strip().split()
            driver_name = ''.join(driver_name[:-1])

            nationality = columns[2].text.strip()
            car = columns[3].text.strip()
            pts = columns[4].text.strip()
            print(f'Position: {position}\nDriver name: {driver_name}\nNationality: {nationality}\nCar: {car}\nPoint: {pts}\n')

Position: 1
Driver name: Max
Nationality: NED
Car: Red Bull Racing Honda RBPT
Point: 437

Position: 2
Driver name: Lando
Nationality: GBR
Car: McLaren Mercedes
Point: 374

Position: 3
Driver name: Charles
Nationality: MON
Car: Ferrari
Point: 356

Position: 4
Driver name: Oscar
Nationality: AUS
Car: McLaren Mercedes
Point: 292

Position: 5
Driver name: Carlos
Nationality: ESP
Car: Ferrari
Point: 290

Position: 6
Driver name: George
Nationality: GBR
Car: Mercedes
Point: 245

Position: 7
Driver name: Lewis
Nationality: GBR
Car: Mercedes
Point: 223

Position: 8
Driver name: Sergio
Nationality: MEX
Car: Red Bull Racing Honda RBPT
Point: 152

Position: 9
Driver name: Fernando
Nationality: ESP
Car: Aston Martin Aramco Mercedes
Point: 70

Position: 10
Driver name: Pierre
Nationality: FRA
Car: Alpine Renault
Point: 42

Position: 11
Driver name: Nico
Nationality: GER
Car: Haas Ferrari
Point: 41

Position: 12
Driver name: Yuki
Nationality: JPN
Car: RB Honda RBPT
Point: 30

Position: 13
Driver name: Lance
Nationality: CAN
Car: Aston Martin Aramco Mercedes
Point: 24

Position: 14
Driver name: Esteban
Nationality: FRA
Car: Alpine Renault
Point: 23

Position: 15
Driver name: Kevin
Nationality: DEN
Car: Haas Ferrari
Point: 16

Position: 16
Driver name: Alexander
Nationality: THA
Car: Williams Mercedes
Point: 12

Position: 17
Driver name: Daniel
Nationality: AUS
Car: RB Honda RBPT
Point: 12

Position: 18
Driver name: Oliver
Nationality: GBR
Car: Haas Ferrari
Point: 7

Position: 19
Driver name: Franco
Nationality: ARG
Car: Williams Mercedes
Point: 5

Position: 20
Driver name: Zhou
Nationality: CHN
Car: Kick Sauber Ferrari
Point: 4

Position: 21
Driver name: Liam
Nationality: NZL
Car: RB Honda RBPT
Point: 4

Position: 22
Driver name: Valtteri
Nationality: FIN
Car: Kick Sauber Ferrari
Point: 0

Position: 23
Driver name: Logan
Nationality: USA
Car: Williams Mercedes
Point: 0

Position: 24
Driver name: Jack
Nationality: AUS
Car: Alpine Renault
Point: 0

In [3]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Stations, Hourly

In [12]:
%%time

# Set time period
start = datetime(2024, 1, 1)
end = datetime(2024, 1, 31, 23, 59)

# Get hourly data
data = Hourly('48870', start, end)
data = data.fetch()

# Print DataFrame
print(data)

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

                     temp  dwpt   rhum  prcp  snow   wdir  wspd  wpgt    pres  \
time
2024-01-01 00:00:00  23.2  21.6   91.0   0.0   NaN    0.0   0.0   NaN  1014.7
2024-01-01 01:00:00  23.9  22.0   89.0   0.1   NaN  350.0  24.1   NaN  1015.5
2024-01-01 02:00:00  25.1  21.6   81.0   0.0   NaN    8.0  24.8   NaN  1016.1
2024-01-01 03:00:00  26.0  21.7   77.0   0.2   NaN  290.0   7.2   NaN  1015.4
2024-01-01 04:00:00  26.3  21.7   76.0   0.2   NaN   22.0  25.9   NaN  1015.4
...                   ...   ...    ...   ...   ...    ...   ...   ...     ...
2024-01-31 19:00:00  19.7  19.7  100.0   0.0   NaN  268.0   9.7   NaN  1016.3
2024-01-31 20:00:00  19.9  19.7   99.0   0.0   NaN  284.0  11.2   NaN  1015.9
2024-01-31 21:00:00  22.1  21.6   97.0   0.0   NaN  360.0   3.6   NaN  1015.0
2024-01-31 22:00:00  20.4  20.4  100.0   0.0   NaN  286.0  12.2   NaN  1016.1
2024-01-31 23:00:00  20.5  20.5  100.0   0.0   NaN  288.0  11.9   NaN  1016.5

                     tsun  coco
time
2024-01-01 00:00:00   NaN   3.0
2024-01-01 01:00:00   NaN   7.0
2024-01-01 02:00:00   NaN   3.0
2024-01-01 03:00:00   NaN  17.0
2024-01-01 04:00:00   NaN  17.0
...                   ...   ...
2024-01-31 19:00:00   NaN   5.0
2024-01-31 20:00:00   NaN   5.0
2024-01-31 21:00:00   NaN   5.0
2024-01-31 22:00:00   NaN   5.0
2024-01-31 23:00:00   NaN   5.0

[744 rows x 11 columns]
CPU times: user 48.6 ms, sys: 1.02 ms, total: 49.6 ms
Wall time: 4min 31s

In [18]:
data.head(24)

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2024-01-01 00:00:00,23.2,21.6,91.0,0.0,NaN,0.0,0.0,NaN,1014.7,NaN,3.0
2024-01-01 01:00:00,23.9,22.0,89.0,0.1,NaN,350.0,24.1,NaN,1015.5,NaN,7.0
2024-01-01 02:00:00,25.1,21.6,81.0,0.0,NaN,8.0,24.8,NaN,1016.1,NaN,3.0
2024-01-01 03:00:00,26.0,21.7,77.0,0.2,NaN,290.0,7.2,NaN,1015.4,NaN,17.0
2024-01-01 04:00:00,26.3,21.7,76.0,0.2,NaN,22.0,25.9,NaN,1015.4,NaN,17.0
2024-01-01 05:00:00,26.8,21.8,74.0,0.1,NaN,30.0,27.0,NaN,1014.7,NaN,7.0
2024-01-01 06:00:00,26.6,21.8,75.0,0.0,NaN,360.0,7.2,NaN,1013.3,NaN,3.0
2024-01-01 07:00:00,26.6,22.0,76.0,0.0,NaN,32.0,25.6,NaN,1013.0,NaN,3.0
2024-01-01 08:00:00,26.3,21.9,77.0,0.0,NaN,28.0,25.6,NaN,1012.7,NaN,3.0
2024-01-01 09:00:00,26.2,21.8,77.0,0.0,NaN,360.0,10.8,NaN,1012.5,NaN,3.0
2024-01-01 10:00:00,24.8,21.7,83.0,0.0,NaN,18.0,24.1,NaN,1013.4,NaN,3.0
2024-01-01 11:00:00,24.2,21.7,86.0,0.0,NaN,6.0,23.4,NaN,1013.7,NaN,3.0
2024-01-01 12:00:00,25.5,21.6,79.0,0.0,NaN,340.0,7.2,NaN,1014.1,NaN,3.0
2024-01-01 13:00:00,23.6,21.7,89.0,0.0,NaN,344.0,23.0,NaN,1014.8,NaN,3.0
2024-01-01 14:00:00,23.7,21.8,89.0,0.0,NaN,345.0,23.8,NaN,1015.0,NaN,3.0
2024-01-01 15:00:00,24.0,23.1,95.0,0.1,NaN,340.0,3.6,NaN,1014.3,NaN,7.0
2024-01-01 16:00:00,23.3,21.7,91.0,0.0,NaN,321.0,20.9,NaN,1015.1,NaN,3.0
2024-01-01 17:00:00,22.8,21.3,91.0,0.0,NaN,304.0,19.8,NaN,1015.4,NaN,3.0
2024-01-01 18:00:00,23.6,22.9,96.0,0.0,NaN,290.0,7.2,NaN,1013.5,NaN,3.0
2024-01-01 19:00:00,22.7,21.2,91.0,0.0,NaN,299.0,19.4,NaN,1014.0,NaN,3.0
2024-01-01 20:00:00,22.6,21.2,92.0,0.0,NaN,306.0,18.4,NaN,1013.4,NaN,3.0
2024-01-01 21:00:00,23.2,22.7,97.0,0.0,NaN,290.0,3.6,NaN,1012.2,NaN,3.0
2024-01-01 22:00:00,22.5,21.5,94.0,0.0,NaN,316.0,19.1,NaN,1013.1,NaN,3.0
2024-01-01 23:00:00,22.5,21.7,95.0,0.2,NaN,325.0,19.1,NaN,1013.6,NaN,7.0

In [14]:
# Import Meteostat library
from meteostat import Stations

# Get nearby weather stations
stations = Stations()
stations = stations.nearby(13.7667, 109.2167)
station = stations.fetch(1)

# Print DataFrame
print(station)

           name country region    wmo  icao  latitude  longitude  elevation  \
id
48870  Quy Nhon      VN     BH  48870  VVQN   13.7667   109.2167        6.0

               timezone hourly_start hourly_end daily_start  daily_end  \
id
48870  Asia/Ho_Chi_Minh   1957-01-04 2024-11-17  1957-01-04 2025-01-11

      monthly_start monthly_end  distance
id
48870    1957-01-01  2022-01-01       0.0

In [15]:
station

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
48870,Quy Nhon,VN,BH,48870,VVQN,13.7667,109.2167,6.0,Asia/Ho_Chi_Minh,1957-01-04,2024-11-17,1957-01-04,2025-01-11,1957-01-01,2022-01-01,0.0