In [1]:
from datetime import datetime
import matplotlib.pyplot as plt 
from meteostat import Point, Daily, Stations, Hourly
import pandas as pd

In [2]:
# Get the nearby weather stations
stations = Stations()
stations = stations.nearby(13.7667, 109.2167)
stations = stations.fetch(1)

stations

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
48870,Quy Nhon,VN,BH,48870,VVQN,13.7667,109.2167,6.0,Asia/Ho_Chi_Minh,1957-01-04,2025-01-28,1957-01-04,2025-02-16,1957-01-01,2022-01-01,0.0

In [3]:
%%time

# Get weather data with wmo
start = datetime(2021, 1, 1)
end = datetime(2025, 2, 21, 23, 59)

data = Hourly('48870', start, end)
data = data.fetch()

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

CPU times: total: 188 ms
Wall time: 5.1 s

In [5]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2025-02-21 19:00:00,22.3,21.3,94.0,0.0,NaN,345.0,23.0,NaN,1016.1,NaN,3.0
2025-02-21 20:00:00,22.1,21.1,94.0,0.3,NaN,356.0,24.1,NaN,1015.8,NaN,8.0
2025-02-21 21:00:00,22.1,20.9,93.0,0.0,NaN,354.0,23.8,NaN,1015.7,NaN,3.0
2025-02-21 22:00:00,22.2,21.2,94.0,0.1,NaN,353.0,24.5,NaN,1015.9,NaN,7.0
2025-02-21 23:00:00,22.3,21.1,93.0,0.2,NaN,355.0,25.6,NaN,1016.5,NaN,7.0

In [6]:
data.tail(20)

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2025-02-21 04:00:00,25.9,21.6,77.0,0.1,NaN,25.0,25.6,NaN,1017.1,NaN,7.0
2025-02-21 05:00:00,25.7,21.6,78.0,0.2,NaN,33.0,27.4,NaN,1016.4,NaN,17.0
2025-02-21 06:00:00,26.2,21.6,76.0,0.0,NaN,37.0,27.7,NaN,1015.6,NaN,3.0
2025-02-21 07:00:00,26.2,21.4,75.0,0.5,NaN,34.0,28.1,NaN,1014.6,NaN,17.0
2025-02-21 08:00:00,25.9,21.1,75.0,0.1,NaN,38.0,28.4,NaN,1014.2,NaN,17.0
2025-02-21 09:00:00,25.2,21.3,79.0,0.0,NaN,33.0,27.7,NaN,1014.2,NaN,2.0
2025-02-21 10:00:00,24.5,21.2,82.0,0.0,NaN,24.0,26.6,NaN,1014.6,NaN,2.0
2025-02-21 11:00:00,23.6,21.1,86.0,0.0,NaN,13.0,23.0,NaN,1015.3,NaN,3.0
2025-02-21 12:00:00,23.3,21.0,87.0,0.0,NaN,18.0,24.5,NaN,1015.9,NaN,3.0
2025-02-21 13:00:00,23.2,21.1,88.0,0.1,NaN,24.0,23.8,NaN,1016.8,NaN,7.0
2025-02-21 14:00:00,23.3,21.2,88.0,0.0,NaN,15.0,22.0,NaN,1017.5,NaN,3.0
2025-02-21 15:00:00,23.2,21.3,89.0,0.0,NaN,12.0,21.6,NaN,1017.6,NaN,3.0
2025-02-21 16:00:00,23.2,21.1,88.0,0.0,NaN,12.0,22.3,NaN,1017.1,NaN,3.0
2025-02-21 17:00:00,22.3,21.1,93.0,0.0,NaN,353.0,23.0,NaN,1017.3,NaN,3.0
2025-02-21 18:00:00,22.3,21.1,93.0,0.0,NaN,344.0,23.0,NaN,1016.7,NaN,3.0
2025-02-21 19:00:00,22.3,21.3,94.0,0.0,NaN,345.0,23.0,NaN,1016.1,NaN,3.0
2025-02-21 20:00:00,22.1,21.1,94.0,0.3,NaN,356.0,24.1,NaN,1015.8,NaN,8.0
2025-02-21 21:00:00,22.1,20.9,93.0,0.0,NaN,354.0,23.8,NaN,1015.7,NaN,3.0
2025-02-21 22:00:00,22.2,21.2,94.0,0.1,NaN,353.0,24.5,NaN,1015.9,NaN,7.0
2025-02-21 23:00:00,22.3,21.1,93.0,0.2,NaN,355.0,25.6,NaN,1016.5,NaN,7.0

data is delay 7 hours

In [11]:
data = data.reset_index()

In [12]:
data.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN

In [13]:
data['time'] = pd.to_datetime(data['time'])

data['time'] = data['time'] + pd.Timedelta(hours=7)

In [21]:
data.head(10)

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 07:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 10:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 13:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 16:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 19:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
5,2021-01-01 22:00:00,21.0,16.6,76.0,NaN,NaN,340.0,10.8,NaN,1017.7,NaN,NaN
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-02 01:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-02 02:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN

In [22]:
data = data[6:] # Get the data from day 2-1-2021 and after
data.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-02 01:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-02 02:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN
10,2021-01-02 04:00:00,19.5,17.6,89.0,0.2,NaN,320.0,10.8,NaN,1015.7,NaN,NaN

In [24]:
data = data.iloc[::3] # To much data --> get each 3 hours

data

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN
12,2021-01-02 06:00:00,19.8,17.8,88.0,0.1,NaN,339.0,17.6,NaN,1016.7,NaN,NaN
15,2021-01-02 09:00:00,20.2,18.3,89.0,0.2,NaN,347.0,18.7,NaN,1018.4,NaN,NaN
18,2021-01-02 12:00:00,22.0,18.0,78.0,0.1,NaN,3.0,28.4,NaN,1016.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
36096,2025-02-21 17:00:00,24.5,21.2,82.0,0.0,NaN,24.0,26.6,NaN,1014.6,NaN,2.0
36099,2025-02-21 20:00:00,23.2,21.1,88.0,0.1,NaN,24.0,23.8,NaN,1016.8,NaN,7.0
36102,2025-02-21 23:00:00,23.2,21.1,88.0,0.0,NaN,12.0,22.3,NaN,1017.1,NaN,3.0
36105,2025-02-22 02:00:00,22.3,21.3,94.0,0.0,NaN,345.0,23.0,NaN,1016.1,NaN,3.0
36108,2025-02-22 05:00:00,22.2,21.2,94.0,0.1,NaN,353.0,24.5,NaN,1015.9,NaN,7.0

In [26]:
data.to_csv('../data/raw/weatherQN_2021_2025.csv', index=False)